.bookings {
  text-align: center;
}

.booking-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px auto;
  width: 300px;
  padding: 10px;
  background: #f7f7f7;
}
.booking-card h3 {
  margin: 0;
  margin-bottom: 5px;
}